.customizetable {
    display: flex;
    margin-top: 5rem;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;

}

.card2 {
    align-items: center;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgba(2, 4, 69, .05);
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 30px 40px 25px;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
}